In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'A':[1,2,4,1,2,4],
                  'B':[4,5,6,7,8,9],
                  'C':[0,0,0,0,0,0],
                  'D':[1,1,1,1,1,1]
                  })

In [3]:
df

   A  B  C  D
0  1  4  0  1
1  2  5  0  1
2  4  6  0  1
3  1  7  0  1
4  2  8  0  1
5  4  9  0  1

In [4]:
 # variance threshold
    # Feature selector that removes all low-variance features.

In [5]:
from sklearn.feature_selection import VarianceThreshold
var_thres = VarianceThreshold(threshold=0)
var_thres.fit(df)

C:\Users\Admin\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

VarianceThreshold(threshold=0)

In [6]:
var_thres.get_support()

array([ True,  True, False, False])

In [8]:
 df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
df.columns[var_thres.get_support()]

Index(['A', 'B'], dtype='object')

In [14]:
constant_columns = [column for column in df.columns if column not in df.columns[var_thres.get_support()]]

In [15]:
print(len(constant_columns))

2

In [17]:
for feature in constant_columns:
    print(feature)

C
D

In [18]:
df.drop(constant_columns,axis=1)

   A  B
0  1  4
1  2  5
2  4  6
3  1  7
4  2  8
5  4  9